body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
        background: #333;
        color: #fff;
        font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;

}


#canvas_container {
    width: 800px;
    border: 1px solid #aaa;
    margin-right: 300px;
    margin-left: 50px;
    margin-top: 50px;
    height: 1000px;
}
#pix_container {
    position: absolute;
    background-color:transparent;
    background:  no-repeat;
    background-size: 100%;
    width: 800px;
    border: 0px solid #aaa;
    margin-right: 000px;
    margin-left: 00px;
    margin-top: 00px;
    height: 1000px;
    left: 62px;
    top: 62px;
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
